<div class="register-container">
    <h2>REGISTER USER</h2>
    <!-- {{formvalue.value | json}} -->
    <form  [formGroup]="registerForm">
      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" formControlName="Username">
      </div>
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" formControlName="Name">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" formControlName="Password">
      </div>
      <button (click)="registerTheUser()" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
  