$table-bg-color: #f2f2f2;
$header-bg-color: #333;
$header-color: #fff;
$row-hover-bg-color: #ddd;

table {
  width: 100%;
  border-collapse: collapse;
  background-color: $table-bg-color;
  font-family: Arial, sans-serif;

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: $header-bg-color;
    color: $header-color;
  }

  tr:hover {
    background-color: $row-hover-bg-color;
  }
}

/* Style for the Add button */
button.add-button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

button.add-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Style for the Delete button */
button.delete-button {
  padding: 10px 20px;
  background-color: #ff0000; /* Red background */
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

button.delete-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

